{# templates/lucky/number.html.twig #}
{% extends 'Admin/Stock/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle catégorie' %}


{% block body %}
    <h2>Ajout d'une nouvelle catégorie</h2>
    {{ include('Admin/Stock/_category-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
