{# templates/lucky/number.html.twig #}
{% extends 'Admin/Stock/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'un nouveau produit' %}


{% block body %}
    <h2>Ajout d'un nouveau produit</h2>
    {{ include('Admin/Stock/_product-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
