{% extends 'base.html.twig' %}

{% block title %}Index Comptabilité{% endblock %}


{% block notification %}
{% endblock %}


{% block body %}
<div class="banner-area">
  <div class="container">
    <div class="row justify-content-center generic-height align-items-center mb-3">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-4">
            <div class="card border-info mb-3" style="max-width: 18rem;">
              <div class="card-header">Comptabilité</div>
              <div class="card-body text-info">
                <h5 class="card-title">Compte journalier</h5>
                <p class="card-text">
                  <a href="{{ path('comptabilite.journaliere') }}" class="genric-btn primary small">
                    Plus
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-info mb-3" style="max-width: 18rem;">
              <div class="card-header">Comptabilité</div>
              <div class="card-body text-info">
                <h5 class="card-title">Compte mensuel</h5>
                <p class="card-text">
                  <a href="{{ path('comptabilite.mensuelle') }}" class="genric-btn primary small">
                    Plus
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-info mb-3" style="max-width: 18rem;">
              <div class="card-header">Comptabilité</div>
              <div class="card-body text-info">
                <h5 class="card-title">Débiteurs</h5>
                <p class="card-text">
                  <a href="{{ path('comptabilite.debit') }}" class="genric-btn primary small">
                    Plus
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
