{# templates/lucky/number.html.twig #}
{% extends 'Admin/Achat/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'un nouvel achat' %}


{% block body %}
    <h2>Enregistrement d'un nouvel achat</h2>
    {{ include('Admin/Achat/_achat-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
